/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


html,body{
  height: 100%;
  overflow-x:hidden;
overflow-y:hidden;
}



body {
  
  background-image: url("redvelvet.jpg");
  

  background-position: center center;
  
  
  background-repeat: no-repeat;
  
  background-attachment: fixed;
  
  
  background-size: cover;
  
  
  background-color: #464646;
  font-family: 'Pacifico';
 
 
 
}



nav a:hover{
  opacity:0.5;
}
header{
	list-style-type: none;
  width: 100%;
  margin-bottom: 0.5em;
}

header a{
	text-decoration: none;
  color: white;
}
header, footer{
	background-color: #864747;
}

li{
  list-style-type: none;
  padding: 6em;
  display: inline;
  color: white;

}

#title{
  font-size: 2em;
}
section{
	text-align: center;
	
 height:30em;
	width: 100%;
  

}

.page-wrap{
  min-height: 100%;
margin-bottom: -100px;


}


section p{
  color: white;
}


section:after{
  content: "";
  display: block;
}



footer{
	text-align: center;
  position: absolute;

  width: 100%;
  height: 100px; 
	bottom: 0;
	left: 0;

  
  color: white;


}

footer, page-wrap:after {
height: 100px;
}

